<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title> Mastermind </title>
    
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div>
      <p class="message" id="bad_input"> <%= game.bad_input_message %> </p>
      <p class="message" id="win"> <%= game.win_message if game.win? %> </p>
      <p class="message" id="loss"> <%= game.loss_message if game.loss? %> </p>

      <p> <% if game.loss? || game.win? %>
        <% secret_code.each do |color| %>
        <svg height="26" width="26">
          <circle cx="13" cy="13" r="11" stroke="black" stroke-width="2" fill=<%= color %> />
        </svg>
      <% end %>
      <% end %>
      </p>
    </div>

    <div>
      <p class="message" id="reset_message"> <%= game.reset_message if reset == true %> </p>
    </div>

    <form action="/mastermind" method="get">
      <div>
        <p> <input type="text" name="input"> </p>
      </div>
      
      <div class="button">
        <button type="submit" value="input">Guess</button>
      </div>
    </form>

    <div>
      <p> <% key.each do |num, color| %>
        <%= "#{num} =" %>
        <svg height="20" width="20">
          <circle cx="10" cy="12" r="6" stroke="black" stroke-width="2" fill=<%= color %> />
        </svg>
        <%= ";" unless num == key.size %>
      <% end %>
      </p>
    </div>

    <div>
      <p id="turns_left"> Guesses left: <%= turns_left %> </p>
    </div>

    <div class="hint_wrapper">
      <% h_key.each do |num, color| %>
        <p class="hints"> 
        <svg height="20" width="20">
          <circle cx="10" cy="12" r="6" stroke="black" stroke-width="2" fill=<%= color %> />
        </svg>
          <%= game.hint_0 if num == 0 %>
          <%= game.hint_1 if num == 1 %>
          <%= game.hint_2 if num == 2 %>
        </p>
      <% end %>
    </div>

    <div id="feedback-wrapped">
      <div class="feedback">
        <p>Previous guesses:</p>
        <% guesses.each do |ary| %>
          <div> <% ary.each do |cell| %>
            <svg height="32" width="32">
              <circle cx="16" cy="16" r="14" stroke="black" stroke-width="2" fill=<%=cell%> />
            </svg>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="feedback">
        <p id="hints"> Hints:
        <% hints.each do |ary| %>
          <div> <% ary.each do |cell| %>
            <svg height="32" width="32">
              <circle cx="16" cy="16" r="14" stroke="black" stroke-width="2" fill=<%=cell%> />
            </svg>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>

