<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title> Mastermind </title>
    
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div>
      <p class="message" id="bad_input"> <%= message if message == game.bad_input_message %> </p>
      <p class="message" id="win"> <%= game.win_message if game.win? %> </p>
      <p class="message" id="loss"> <%= game.loss_message if game.loss? %> </p>
    </div>

    <form action="/mastermind" method="get">
      <div>
        <p> <input type="text" name="input"> </p>
      </div>
      
      <div class="button">
        <button type="submit" value="input">Submit</button>
      </div>
    </form>

    <div>
      <p class="message"> You gave input of: <%= input %> </p>
    </div>

    <div>
      <p class="message" id="reset_message"> <%= game.reset_message if reset == true %> </p>
    </div>
    
    <div id="feedback-wrapped">
      <div class="feedback">
        <p>Previous guesses:</p>
        <p> <%= guesses %> </p>
      </div>

      <div class="feedback">
        <p id="hints"> Hints:
        <p> <%= hints %> </p>
      </div>
    </div>

    <div>
      <p id="turns_left"> Guesses left: <%= turns_left %> </p>
    </div>

    <div>
      <p class="key" id="key"> Key: </p>
      <p> <%= key %> </p>
    </div>

    <div>
      <p class="feedback" id="secret_code"> Secret code: <%= secret_code %> </p>
    </div>
  </body>
</html>

