<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title> Mastermind </title>
    
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <form action="/mastermind" method="get">
      <div>
        <label for="input">Guess:</label>
        <input type="text" name="input">
      </div>
      
      <div class="button">
        <button type="submit" value="input">Enter a guess:</button>
      </div>
    </form>

    <div>
      <p class="message"> You gave input of: <%= input %> </p>
      <p class="message" id="bad_input"> <%= bad_input if bad_input.is_a? String %> </p>
    </div>

    <div>
      <p class="message" id="guesses"> Previous guesses: <%= guesses %> </p>
    </div>

    <div>
      <p class="message" id="hints"> Hints: <%= hints %>
    </div>

    <div>
      <p class="message" id="turns_left"> Guesses left:<%= turns_left %> </p>
    </div>

    <div>
      <p class="message" id="key"> Key: <%= key %> </p>
    </div>

    <div>
      <p class="message" id="secret_code"> Secret code: <%= secret_code %> </p>
    </div>
  </body>
</html>

